<div class="modal fade" id="confirmationModal" tabindex="-1" aria-labelledby="confirmationModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content shadow border-0 rounded-3">
            <div class="modal-header border-0">
                <h1 class="modal-title fs-5" id="confirmationModalLabel"></h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="confirmationModalBody">
            </div>
            <div class="modal-footer border-0">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                    id="confirmationModalCancelBtn"></button>
                <button type="button" class="btn btn-primary" id="confirmationModalConfirmBtn"></button>
            </div>
        </div>
    </div>
</div>