<template id="ex-mode-4-summarization-template">
    <div class="row g-3 align-items-center mb-2">
        <div class="col-sm-5">
            <label for="ans-summary-route" class="col-form-label" data-i18n="ex_label_summary_route">Ruta de Resumen
                (Red)</label>
        </div>
        <div class="col-sm-7">
            <input type="text" id="ans-summary-route" class="form-control"
                data-i18n-placeholder="ex_ph_ip_summary_route" aria-label="Ruta de Resumen (Red)">
            <div class="invalid-feedback" data-i18n="ex_feedback_incorrect">Respuesta incorrecta.</div>
        </div>
    </div>
    <div class="row g-3 align-items-center mb-2">
        <div class="col-sm-5">
            <label for="ans-summary-mask" class="col-form-label" data-i18n="ex_label_summary_mask">Máscara de Resumen
                (CIDR)</label>
        </div>
        <div class="col-sm-7">
            <input type="text" id="ans-summary-mask" class="form-control" data-i18n-placeholder="ex_ph_ip_summary_mask"
                aria-label="Máscara de Resumen (CIDR)">
            <div class="invalid-feedback" data-i18n="ex_feedback_incorrect">Respuesta incorrecta.</div>
        </div>
    </div>
</template>