<template id="ex-mode-6-next-network-template">
    <div class="row g-3 align-items-center mb-2">
        <div class="col-sm-5">
            <label for="ans-next-network" class="col-form-label" data-i18n="ex_label_next_network">Siguiente Dirección
                de Red</label>
        </div>
        <div class="col-sm-7">
            <input type="text" id="ans-next-network" class="form-control" data-i18n-placeholder="ex_ph_ip_next_network"
                aria-label="Siguiente Dirección de Red">
            <div class="invalid-feedback" data-i18n="ex_feedback_incorrect">Respuesta incorrecta.</div>
        </div>
    </div>
</template>