<template id="ex-mode-5-vlsm-row-template">
    <div class="vlsm-answer-row">
        <div class="row g-3 align-items-center mb-2">
            <div class="col-sm-5">
                <label class="col-form-label" data-i18n-id-prefix="label-net_net">Red X - Dir. de Red</label>
            </div>
            <div class="col-sm-7">
                <input type="text" class="form-control" data-i18n-id-prefix="ans-net_net"
                    data-i18n-placeholder="ex_ph_ip_network" aria-label="Dirección de Red">
                <div class="invalid-feedback" data-i18n="ex_feedback_incorrect">Respuesta incorrecta.</div>
            </div>
        </div>
        <div class="row g-3 align-items-center mb-2">
            <div class="col-sm-5">
                <label class="col-form-label" data-i18n-id-prefix="label-net_cidr">Red X - Máscara (CIDR)</label>
            </div>
            <div class="col-sm-7">
                <input type="text" class="form-control" data-i18n-id-prefix="ans-net_cidr"
                    data-i18n-placeholder="ex_ph_cidr" aria-label="Máscara (CIDR)">
                <div class="invalid-feedback" data-i18n="ex_feedback_incorrect">Respuesta incorrecta.</div>
            </div>
        </div>
        <hr class="my-3">
    </div>
</template>