<template id="setup-category-item-template">
    <div class="col-12 col-md-6 mb-2">
        <div class="form-check">
            <input class="form-check-input category-checkbox" type="checkbox" value="" id="" checked>
            <label class="form-check-label" for="">
                <span class="category-name">Nombre Categoría</span>
                <span class="badge rounded-pill category-count"
                    style="background-color: #6c757d; min-width: 28px;">0</span>
            </label>
        </div>
    </div>
</template>