<nav class="navbar navbar-expand-lg navbar-light sticky-top">
        <div class="container">
            <a class="navbar-brand" href="#">
                <i class="fas fa-sitemap"></i>
                CCNA Blueprint
            </a>
    
            <div class="d-flex align-items-center">
                <div class="theme-switch-wrapper me-2">
                    <label class="theme-switch" for="theme-switch-checkbox">
                        <input type="checkbox" id="theme-switch-checkbox" />
                        <div class="slider round"></div>
                    </label>
                </div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
    
            <div class="collapse navbar-collapse" id="navbarNav">
                <button class="btn-close-menu d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-label="Close">
                    <i class="fas fa-times"></i>
                </button>
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/ccna-blueprint/">
                            <i class="fas fa-home fa-fw"></i>
                            Inicio
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fas fa-tools fa-fw"></i>
                            Herramientas
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">Generador Subneteo</a></li>
                            <li><a class="dropdown-item" href="/ccna-blueprint/pages/password.html">Descifrador Contraseña</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <i class="fas fa-file-alt fa-fw"></i>
                            Simulador Examen
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <i class="fas fa-book fa-fw"></i>
                            Glosario
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <i class="fas fa-blog fa-fw"></i>
                            Blog
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


<nav class="navbar navbar-expand-lg navbar-light sticky-top">
    <div class="container">
        <a class="navbar-brand" href="/ccna-blueprint/"> <i class="fas fa-sitemap"></i>
            CCNA Blueprint
        </a>

        <div class="d-flex align-items-center">
            <div class="theme-switch-wrapper me-2">
                <label class="theme-switch" for="theme-switch-checkbox">
                    <input type="checkbox" id="theme-switch-checkbox" />
                    <div class="slider round"></div>
                </label>
            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>

        <div class="collapse navbar-collapse" id="navbarNav">
            <button class="btn-close-menu d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-label="Close">
                <i class="fas fa-times"></i>
            </button>
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/ccna-blueprint/"> <i class="fas fa-home fa-fw"></i>
                        Inicio
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fas fa-tools fa-fw"></i>
                        Herramientas
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/ccna-blueprint/pages/password.html">Descifrador Contraseña</a></li>
                        <li><a class="dropdown-item" href="#">Generador Subneteo</a></li>
                    </ul>
                </li>
                </ul>
        </div>
    </div>
</nav>
